rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /artists/{doc} {
      allow read, write: if true; // TEMP: open for smoke test only
    }
  }
}
